<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/output.css" />
    <title>Banner sub navbar</title>
  </head>
  <body>
    <section class="flex items-center justify-center w-auto gap-5 mt-2">
      <div class="inline-block h-10 text-center hover:bg-slate-100">
        <a
          href="#"
          class="flex items-center font-semibold font-[Kanit,sans-serif] hover:text-[#7645d9] h-full"
          >Overview</a
        >
      </div>
      <div class="inline-block h-10 text-center hover:bg-slate-100">
        <a
          href="#"
          class="flex items-center font-semibold hover:text-[#7645d9] font-[Kanit,sans-serif] h-full"
          >Collections</a
        >
      </div>
      <div class="inline-block h-10 text-center hover:bg-slate-100">
        <a
          href="#"
          class="flex items-center font-semibold font-[Kanit,sans-serif] hover:text-[#7645d9] h-full"
          >Activity</a
        >
      </div>
    </section>
  </body>
</html>
