@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(-7px, -7px);
  }
  100% {
    transform: translate(0px);
  }
}
