<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/output.css" />
    <title>Card Hot & Newest collection</title>
  </head>
  <body>
    <section class="m-0 w-full">
      <div class="flex justify-between ">
        <h3>Newest collection</h3>
        <button type="button" title="wiew-all-btn"></button>
      </div>
    </section>
  </body>
</html>
