<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/output.css" />
    <title>Skeleton</title>
  </head>
  <body>
    <section
      class="screen968:py-12 screen576:py-8 screen370:px-6 max-w-[1200px] m-0 w-full"
    >
      <div class="flex items-center justify-between mb-[26px]">
        <h2 class="screen968:text-xl font-semibold text-[#280d5f] font-body">
          Newest Arrivals
        </h2>
        <a
          href="#"
          class="relative inline-flex items-center rounded-2xl cursor-pointer text-base font-semibold font-body justify-center tracking-[0.03em] opacity-[1] outline-0 h-[32px] py-0 px-4 border-solid border-2 border-buttons-cyan text-buttons-cyan"
        >
          Wiew all
          <svg
            viewBox="0 0 24 24"
            color="primary"
            ml="0.5rem"
            width="20px"
            xmlns="http://www.w3.org/2000/svg"
            class="self-center ml-2 shrink-0"
            fill="#1fc7d4"
          >
            <path
              d="M9.29006 15.88L13.1701 12L9.29006 8.12001C8.90006 7.73001 8.90006 7.10001 9.29006 6.71001C9.68006 6.32001 10.3101 6.32001 10.7001 6.71001L15.2901 11.3C15.6801 11.69 15.6801 12.32 15.2901 12.71L10.7001 17.3C10.3101 17.69 9.68006 17.69 9.29006 17.3C8.91006 16.91 8.90006 16.27 9.29006 15.88Z"
            ></path>
          </svg>
        </a>
      </div>
      <div
        class="grid gap-x-6 gap-y-4 screen852:grid-cols-4 screen576:grid-cols-2 screen370:grid-cols-2"
      >
        <div
          class="rounded-lg max-w-xs bg-[#e7e3eb] text-[#280d5f] overflow-hidden relative pt-[1px] px-[3px] pb-[1px]"
        >
          <div class="rounded-lg w-full h-full bg-[#fff]">
            <a href="#" class="no-underline text-inherit">
              <div class="p-2">
                <div
                  class="rounded-lg bg-bunnyStatic h-max overflow-hidden flex bg-no-repeat bg-contain max-h-80 max-w-[320px] relative w-full mb-2 after:content-[' '] after:pt-[100%]"
                ></div>
                <div class="flex justify-between items-center">
                  <div class="font-normal mb-2 text-xs leading-6 text-[#7a6eaa] font-body">Pancake Bunnies</div>
                </div>
                <h4 class="font-semibold font-body mb-2 leading-6 text-base text-[#280d5f]">Sleepy</h4>
                <div class="border-t-[1px] border-t-[#e7e3eb] pt-2">
                  <div class="flex items-center justify-between">
                    <div class="text-[#7a6eaa] font-normal leading-6 whitespace-nowrap overflow-hidden text-ellipsis font-body text-xs max-w-[120px]">Lowest Price</div>
                    <div></div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
