<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/output.css" />
    <title>Hero NFT search</title>
  </head>
  <body>
    <section class="pt-8 bg-[linear-gradient(139.73deg,#e5fdff,#f3efff)]">
      <div class="max-w-6xl ml-auto mr-auto sm:pr-6 sm:pl-6">
        <div class="flex items-center justify-between sm:flex-row">
          <div class="">
            <h1
              class="mb-6 text-6xl font-semibold font-[Kanit,sans-serif] text-[#7645d9]"
            >
              NFT Marketplace
            </h1>
            <h2
              class="text-2xl font-semibold font-[Kanit,sans-serif] text-[#280d5f]"
            >
              Buy and Sell NFTs on BNB Smart Chain
            </h2>
          </div>
          <div class="sm:order-1">
            <input
              type="text"
              placeholder="Search address"
              class="pr-10 z-16 bg-[#eeeaf4] text-[#280d5f] font-[Kanit,sans-serif] border border-solid border-[#d7caec] h-10 text-base py-0 px-4 rounded-2xl outline-[10px] outline-[#7645d9]"
            />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
