<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/output.css" />
    <link rel="stylesheet" href="index.css" />
    <title>Earn Passive Income</title>
  </head>
  <body class="font-body">
    <div>
      <h2 class="text-[#280D5F] text-[40px] font-semibold">
        <span class="text-[#7645D9]">Earn</span>
        passive income with crypto.
      </h2>
      <div class="text-[#7A6EAA]">
        PancakeSwap makes it easy to make your crypto work for you.
      </div>
      <div>
        <button
          type="button"
          id="top-button"
          class="flex flex-col font-semibold justify-center items-center h-8 py-0 px-4 rounded-2xl text-base leading-4 outline-0 bg-buttons-cyan text-white border-0 cursor-pointer tracking-wide opacity-100"
        >
          <span>Explore</span>
        </button>
      </div>
    </div>
  </body>
</html>
