* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Kanit, sans-serif;
}

body {
  background-color: #7ac7ce;
  display: flex;
  gap: 1rem;
}
body .column-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  width: 33%;
}
body .column-container .design-element {
  background-color: #fefefe;
  border-radius: 5px;
  box-shadow: 2px 1px 10px #999;
  display: flex;
  padding: 10px;
}
body .column-container .design-element h1 {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
  text-decoration-color: #9a6aff;
}
body .column1 {
  margin-left: 10px;
  padding: 30px 0 0 30px;
}
body .column1 .logos,
body .column1 .button-styles {
  height: 35vh;
  width: 100%;
}
body .column1 .icons {
  height: 20vh;
  width: 100%;
}
body .column1 .icons svg {
  margin: 25px 15px 0 0;
}
body .button-styles {
  flex-wrap: wrap;
  gap: 10px;
}
body .button-styles p {
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  display: flex;
  width: 100%;
}
body .button-styles #lead-title {
  position: relative;
  left: 12rem;
  bottom: 10.2rem;
}
body .button-styles #top-button,
body .button-styles #top-button-v2 {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  height: 2rem;
  padding: 0 16px;
  outline: 0;
  background-color: #7ac7ce;
  color: white;
  border: 0px;
  cursor: pointer;
  letter-spacing: 0.03rem;
  line-height: 1;
  opacity: 1;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px;
}
body .button-styles #lead-button,
body .button-styles #predict-button {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  height: 2rem;
  padding: 0 24px;
  outline: 0;
  background-color: #7a6eaa;
  color: white;
  border: 0px;
  cursor: pointer;
  letter-spacing: 0.03rem;
  line-height: 1;
  opacity: 1;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px;
  width: 48px;
  height: 48px;
}
body .button-styles #lead-button svg,
body .button-styles #predict-button svg {
  fill: white;
  flex-shrink: 0;
}
body .button-styles #predict-button {
  position: relative;
  left: 13rem;
  bottom: 10.65rem;
}
body .button-styles #lead-button {
  position: relative;
  left: 12.5rem;
  bottom: 10.65rem;
}
body .logos {
  flex-direction: column;
  gap: 0.75rem;
}
body .logos .walletSvgAnimated {
  width: 40px;
}
body .logos .PancakeSwapIcon {
  margin-left: -6px;
}
body .logos h1 {
  padding-bottom: 15px;
}
body .logos p {
  padding-bottom: 10px;
  font-size: 1rem;
  font-weight: 550;
}
body .brand-colors {
  display: flex;
  flex-direction: column;
  height: 42vh;
}
body .brand-colors h1 {
  padding-bottom: 5px;
}
body .brand-colors .all-colors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
}
body .brand-colors .all-colors h5 {
  color: #7645d9;
  font-size: 0.8rem;
  margin-bottom: 2px;
  text-shadow: 1.2px 1px 0.5px #B8ADD2;
}
body .brand-colors .all-colors .light-h5 {
  color: #e3d6fa;
  text-shadow: 1.2px 1px 0.5px #1e0947;
}
body .brand-colors .all-colors .colors-section {
  display: flex;
  flex-wrap: wrap;
}
body .brand-colors .all-colors .colors-section .used-for {
  color: #7645d9;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.6rem;
  margin-bottom: 2px;
  width: 50px;
}
body .brand-colors .all-colors .dark-backgrounds,
body .brand-colors .all-colors .light-backgrounds {
  display: flex;
  flex-wrap: wrap;
}
body .brand-colors .all-colors .dark-backgrounds .used-for,
body .brand-colors .all-colors .light-backgrounds .used-for {
  color: #7645d9;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.6rem;
  margin-bottom: 2px;
  width: 70px;
}
body .brand-colors .color-and-hex {
  padding: 0 5px 0 0;
}
body .brand-colors .color-and-hex .color-box {
  border-radius: 3px;
  height: 18px;
  width: 45px;
}
body .brand-colors .color-and-hex .hex-code {
  color: #280d5f;
  font-size: 0.6rem;
  margin: 1px 0;
}
body .brand-colors .legenda {
  background: #0c1d31;
  border-radius: 5px;
  color: #f4eeff;
  font-size: 0.6rem;
  margin-top: 7px;
  padding: 5px 0 4px 7px;
}
body .brand-colors .bold-violet {
  color: #9a6aff;
  font-weight: bold;
}
body .brand-colors .light-purple {
  background: #9a6aff;
}
body .brand-colors .light-purple-two {
  background: #7645d9;
}
body .brand-colors .violet {
  background: #b8add2;
}
body .brand-colors .violet-two {
  background: #7a6eaa;
}
body .brand-colors .light-violet {
  background: #f4eeff;
  border: 0.5px solid rgb(174, 174, 174);
}
body .brand-colors .white-one {
  background: #ffffff;
  border: 0.5px solid rgb(174, 174, 174);
}
body .brand-colors .white-two {
  background: #faf9fa;
  border: 0.5px solid rgb(174, 174, 174);
}
body .brand-colors .light-blue {
  background: #1ec7d3;
}
body .brand-colors .hot-pink {
  background: #ed4b9e;
}
body .brand-colors .dark-purple-one {
  background: #280d5f;
}
body .brand-colors .yellow {
  background: #ffb237;
}
body .brand-colors .dark-grey {
  background: #27262d;
}
body .brand-colors .dark-purple-two {
  background: #191326;
}
body .brand-colors .dark-purple-three {
  background: #08060b;
}
body .brand-colors .gradient-one {
  background-image: linear-gradient(#8050d5, #4a2387);
}
body .brand-colors .gradient-two {
  background-image: linear-gradient(#5a3d8d, #402767);
}
body .brand-colors .gradient-three {
  background-image: linear-gradient(#140f1f, #201335);
}
body .brand-colors .gradient-four {
  background-image: linear-gradient(#3b4054, #3a364b);
}
body .brand-colors .gradient-five {
  background-image: linear-gradient(#0c4576, #081014);
}
body .brand-colors .gradient-six {
  background-image: linear-gradient(#0c1d31, #090d14);
}
body .brand-colors .gradient-seven {
  background-image: linear-gradient(#ffb237, #ffe76a);
}
body .brand-colors .gradient-eight {
  background-image: linear-gradient(#7645d9, #5221b2);
}
body .brand-colors .gradient-nine {
  background-image: linear-gradient(#444575, #65568d);
}
body .brand-colors .gradient-ten {
  background-image: linear-gradient(#ecfbff, #f1f1ff);
  border: 0.5px solid rgb(174, 174, 174);
}
body .brand-colors .gradient-eleven {
  background-image: linear-gradient(#fcfdff, #d6caec);
  border: 0.5px solid rgb(174, 174, 174);
}
body .brand-colors .gradient-twelve {
  background-image: linear-gradient(#f4eff4, #e9f2f7);
  border: 0.5px solid rgb(174, 174, 174);
}
body .brand-colors .gradient-thirteen {
  background-image: linear-gradient(#6fb7f1, #e9f2f7);
  border: 0.5px solid rgb(174, 174, 174);
}
body .brand-colors .gradient-fourteen {
  background-image: linear-gradient(#cce5fa, #f0f6fc);
  border: 0.5px solid rgb(174, 174, 174);
}
body .column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  padding: 30px 0 0 0;
}
body .column2 .typography {
  flex-grow: 1;
  height: 50vh;
  width: 100%;
}
body .column2 .typography {
  overflow: hidden;
}
body .column2 .fonts-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
body .column2 .main-banner-font {
  font-family: "Kanit", sans-serif;
  color: #9a6aff;
  font-weight: 600;
  line-height: 1.5;
  font-size: 64px;
}
body .column2 .other-banners-font {
  font-family: "Kanit", sans-serif;
  color: #f4eeff;
  font-weight: 600;
  line-height: 1.5;
  font-size: 64px;
  text-shadow: 1px 1px 2px black;
}
body .column2 .various-pools-font {
  color: #f4eeff;
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  text-shadow: 1px 1px 2px black;
}
body .column2 .footer-font {
  color: #f4eeff;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  text-shadow: 1px 1px 2px black;
}
body .column2 .paragraph {
  color: #b8add2;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  display: inline;
  text-shadow: 1px 1px 2px black;
}
body .column3 {
  margin-left: 10px;
  padding: 30px 30px 0 0;
}
body .column3 .components {
  height: 95vh;
}/*# sourceMappingURL=design-system.css.map */