* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Kanit, sans-serif;
}

body {
  background-color: #7ac7ce;
  display: flex;
  gap: 1rem;
}
body section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  width: 33%;
}
body section div {
  background-color: #fefefe;
  border-radius: 5px;
  box-shadow: 2px 1px 10px #999;
  display: flex;
  padding: 10px;
}
body section div h1 {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
  text-decoration-color: #9a6aff;
}
body .column1 {
  margin-left: 10px;
  padding: 30px 0 0 30px;
}
body .column1 .logos,
body .column1 .brand-colors,
body .column1 .button-styles {
  height: 25vh;
  width: 100%;
}
body .button-styles {
  flex-wrap: wrap;
  gap: 10px;
}
body .button-styles p {
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  display: flex;
  width: 100%;
}
body .button-styles #lead-title {
  position: relative;
  left: 12rem;
  bottom: 8.75rem;
}
body .button-styles #top-button,
body .button-styles #top-button-v2 {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  height: 2rem;
  padding: 0 16px;
  outline: 0;
  background-color: #7ac7ce;
  color: white;
  border: 0px;
  cursor: pointer;
  letter-spacing: 0.03rem;
  line-height: 1;
  opacity: 1;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px;
}
body .button-styles #lead-button,
body .button-styles #predict-button {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  height: 2rem;
  padding: 0 24px;
  outline: 0;
  background-color: #7a6eaa;
  color: white;
  border: 0px;
  cursor: pointer;
  letter-spacing: 0.03rem;
  line-height: 1;
  opacity: 1;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px;
  width: 48px;
  height: 48px;
}
body .button-styles #lead-button svg,
body .button-styles #predict-button svg {
  fill: white;
  flex-shrink: 0;
}
body .button-styles #predict-button {
  position: relative;
  left: 13rem;
  bottom: 9rem;
}
body .button-styles #lead-button {
  position: relative;
  left: 12.5rem;
  bottom: 9rem;
}
body .logos {
  flex-direction: column;
}
body .logos h1 {
  padding-bottom: 15px;
}
body .logos p {
  padding-bottom: 10px;
  font-size: 1rem;
  font-weight: 550;
}
body .column2 {
  margin-left: 10px;
  padding: 30px 0 0 0;
}
body .column2 .typography,
body .column2 .form-fields {
  height: 25vh;
  width: 100%;
}
body .column2 .typography {
  overflow: hidden;
}
body .column2 .fonts-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
body .column2 .main-banner-font {
  font-family: "Kanit", sans-serif;
  color: #9a6aff;
  font-weight: 600;
  line-height: 1.5;
  font-size: 64px;
}
body .column2 .other-banners-font {
  font-family: "Kanit", sans-serif;
  color: #f4eeff;
  font-weight: 600;
  line-height: 1.5;
  font-size: 64px;
  text-shadow: 1px 1px 2px black;
}
body .column2 .various-pools-font {
  color: #f4eeff;
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  text-shadow: 1px 1px 2px black;
}
body .column2 .footer-font {
  color: #f4eeff;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  text-shadow: 1px 1px 2px black;
}
body .column2 .paragraph {
  color: #b8add2;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  display: inline;
  text-shadow: 1px 1px 2px black;
}
body .column2 .icons {
  height: 12.5vh;
  width: 100%;
}
body .column3 {
  margin-left: 10px;
  padding: 30px 30px 0 0;
}
body .column3 .components {
  height: 95vh;
}

/*# sourceMappingURL=design-system.css.map */
