* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Kanit, sans-serif;
}

body {
  background-color: #7ac7ce;
  display: flex;
  gap: 1rem;

  .column-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 33%;

    .design-element {
      background-color: #fefefe;
      border-radius: 5px;
      box-shadow: 2px 1px 10px #999;
      display: flex;
      padding: 10px;

      h1 {
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-thickness: 1px;
        text-decoration-color: #9a6aff;
      }
    }
  }

  .column1 {
    margin-left: 10px;
    padding: 30px 0 0 30px;

    .logos,
    .button-styles {
      height: 35vh;
      width: 100%;
    }
    .icons {
      height: 20vh;
      width: 100%;
    }

    .icons svg {
      margin: 25px 15px 0 0;
    }
  }

  .button-styles {
    flex-wrap: wrap;
    gap: 10px;
    p {
      font-weight: 700;
      font-family: inherit;
      font-size: 16px;
      display: flex;
      width: 100%;
    }
    #lead-title {
      position: relative;
      left: 12rem;
      bottom: 10.2rem;
    }
    #top-button,
    #top-button-v2 {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      height: 2rem;
      padding: 0 16px;
      outline: 0;
      background-color: #7ac7ce;
      color: white;
      border: 0px;
      cursor: pointer;
      letter-spacing: 0.03rem;
      line-height: 1;
      opacity: 1;
      box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px;
    }
    #lead-button,
    #predict-button {
      display: flex;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      height: 2rem;
      padding: 0 24px;
      outline: 0;
      background-color: #7a6eaa;
      color: white;
      border: 0px;
      cursor: pointer;
      letter-spacing: 0.03rem;
      line-height: 1;
      opacity: 1;
      box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px;
      width: 48px;
      height: 48px;
      svg {
        fill: white;
        flex-shrink: 0;
      }
    }
    #predict-button {
      position: relative;
      left: 13rem;
      bottom: 10.65rem;
    }
    #lead-button {
      position: relative;
      left: 12.5rem;
      bottom: 10.65rem;
    }
  }

  .logos {
    flex-direction: column;
    gap: 0.75rem;

    .walletSvgAnimated {
      width: 40px;
    }
    .PancakeSwapIcon {
      margin-left: -6px;
    }
  }

  .logos h1 {
    padding-bottom: 15px;
  }

  .logos p {
    padding-bottom: 10px;
    font-size: 1rem;
    font-weight: 550;
  }

  //beginning brand colors
  .brand-colors {
    display: flex;
    flex-direction: column;
    height: 42vh;
    h1 {
      padding-bottom: 5px;
    }
    .all-colors {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;

      h5 {
        color: #7645d9;
        font-size: 0.8rem;
        margin-bottom: 2px;
        text-shadow: 1.2px 1px 0.5px#B8ADD2;
      }
      .light-h5 {
        color: #e3d6fa;
        text-shadow: 1.2px 1px 0.5px#1e0947;
      }

      .colors-section {
        display: flex;
        flex-wrap: wrap;

        .used-for {
          color: #7645d9;
          display: flex;
          flex-wrap: wrap;
          font-size: 0.6rem;
          margin-bottom: 2px;
          width: 50px;
        }
      }

      .dark-backgrounds,
      .light-backgrounds {
        display: flex;
        flex-wrap: wrap;
        .used-for {
          color: #7645d9;
          display: flex;
          flex-wrap: wrap;
          font-size: 0.6rem;
          margin-bottom: 2px;
          width: 70px;
        }
      }
    }

    // structure of color boxes and their description
    .color-and-hex {
      padding: 0 5px 0 0;
      .color-box {
        border-radius: 3px;
        height: 18px;
        width: 45px;
      }
      .hex-code {
        color: #280d5f;
        font-size: 0.6rem;
        margin: 1px 0;
      }
    }

    .legenda {
      background: #0c1d31;
      border-radius: 5px;
      color: #f4eeff;
      font-size: 0.6rem;
      margin-top: 7px;
      padding: 5px 0 4px 7px;
    }
    .bold-violet {
      color: #9a6aff;
      font-weight: bold;
    }

    //palette colors
    .light-purple {
      background: #9a6aff;
    }
    .light-purple-two {
      background: #7645d9;
    }
    .violet {
      background: #b8add2;
    }
    .violet-two {
      background: #7a6eaa;
    }
    .light-violet {
      background: #f4eeff;
      border: 0.5px solid rgb(174, 174, 174);
    }
    .white-one {
      background: #ffffff;
      border: 0.5px solid rgb(174, 174, 174);
    }
    .white-two {
      background: #faf9fa;
      border: 0.5px solid rgb(174, 174, 174);
    }
    .light-blue {
      background: #1ec7d3;
    }
    .hot-pink {
      background: #ed4b9e;
    }
    .dark-purple-one {
      background: #280d5f;
    }
    .yellow {
      background: #ffb237;
    }
    .dark-grey {
      background: #27262d;
    }
    .dark-purple-two {
      background: #191326;
    }
    .dark-purple-three {
      background: #08060b;
    }

    //gradients colors
    .gradient-one {
      background-image: linear-gradient(#8050d5, #4a2387);
    }
    .gradient-two {
      background-image: linear-gradient(#5a3d8d, #402767);
    }
    .gradient-three {
      background-image: linear-gradient(#140f1f, #201335);
    }
    .gradient-four {
      background-image: linear-gradient(#3b4054, #3a364b);
    }
    .gradient-five {
      background-image: linear-gradient(#0c4576, #081014);
    }
    .gradient-six {
      background-image: linear-gradient(#0c1d31, #090d14);
    }
    .gradient-seven {
      background-image: linear-gradient(#ffb237, #ffe76a);
    }
    .gradient-eight {
      background-image: linear-gradient(#7645d9, #5221b2);
    }
    .gradient-nine {
      background-image: linear-gradient(#444575, #65568d);
    }
    .gradient-ten {
      background-image: linear-gradient(#ecfbff, #f1f1ff);
      border: 0.5px solid rgb(174, 174, 174);
    }
    .gradient-eleven {
      background-image: linear-gradient(#fcfdff, #d6caec);
      border: 0.5px solid rgb(174, 174, 174);
    }
    .gradient-twelve {
      background-image: linear-gradient(#f4eff4, #e9f2f7);
      border: 0.5px solid rgb(174, 174, 174);
    }
    .gradient-thirteen {
      background-image: linear-gradient(#6fb7f1, #e9f2f7);
      border: 0.5px solid rgb(174, 174, 174);
    }
    .gradient-fourteen {
      background-image: linear-gradient(#cce5fa, #f0f6fc);
      border: 0.5px solid rgb(174, 174, 174);
    }
  } //end of brand colors

  .column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    padding: 30px 0 0 0;

    .typography {
      flex-grow: 1;
      height: 50vh;
      width: 100%;
    }
    .typography {
      overflow: hidden;
    }
    .fonts-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }

    .main-banner-font {
      font-family: "Kanit", sans-serif;
      color: #9a6aff;
      font-weight: 600;
      line-height: 1.5;
      font-size: 64px;
    }

    .other-banners-font {
      font-family: "Kanit", sans-serif;
      color: #f4eeff;
      font-weight: 600;
      line-height: 1.5;
      font-size: 64px;
      text-shadow: 1px 1px 2px black; //DA RIMUOVERE!!
    }

    .various-pools-font {
      color: #f4eeff;
      font-weight: 600;
      line-height: 1.5;
      font-size: 16px;
      text-shadow: 1px 1px 2px black; //DA RIMUOVERE!!
    }
    .footer-font {
      color: #f4eeff;
      font-weight: 400;
      line-height: 1.5;
      font-size: 16px;
      text-shadow: 1px 1px 2px black; //DA RIMUOVERE!!
    }
    .paragraph {
      color: #b8add2;
      font-weight: 400;
      line-height: 1.5;
      font-size: 16px;
      display: inline;
      text-shadow: 1px 1px 2px black; //DA RIMUOVERE!!
    }
  }

  .column3 {
    margin-left: 10px;
    padding: 30px 30px 0 0;

    .components {
      height: 95vh;
    }
  }
}
