* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Kanit, sans-serif;
}

body {
  background-color: #7ac7ce;
  display: flex;
  gap: 1rem;

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 33%;

    div {
      background-color: #fefefe;
      border-radius: 5px;
      box-shadow: 2px 1px 10px #999;
      display: flex;
      padding: 10px;

      h1 {
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-thickness: 1px;
        text-decoration-color: #9a6aff;
      }
    }
  }

  .column1 {
    margin-left: 10px;
    padding: 30px 0 0 30px;

    .logos,
    .brand-colors,
    .button-styles {
      height: 25vh;
      width: 100%;
    }
  }

  .logos{
    flex-direction: column;
  }

  .logos h1{
    padding-bottom: 15px;
  }

  .logos p {
    padding-bottom: 10px;
   
    font-size:1rem;
    font-weight: 550;
  }

  

  .column2 {
    margin-left: 10px;
    padding: 30px 0 0 0;

    .typography,
    .form-fields {
      height: 25vh;
      width: 100%;
    }
    .icons {
      height: 12.5vh;
      width: 100%;
    }
  }

  .column3 {
    margin-left: 10px;
    padding: 30px 30px 0 0;

    .components {
      height: 95vh;
    }
  }
}
